<%- include('../partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="navbar"> 
    <a href='/chillcategories' class="back">
        <i class="fa fa-angle-left"></i>
    </a>
    <div class="menu">
        <h1>OTrivia</h1>
    </div>
</div>
<script>

    var num = 1;
</script>



    <div id="questions">
        <% questions.forEach((question,index) => { %>
            <fieldset>
                <div class="question">
                    <%-question.question%>
                </div>
                <div id = "choices">
                    <%choices = `choice${index}`%>
                    <div class="choices">
                        <input type="radio" name="choices" value="correct" class="radio">
                        <label class="choice" ><%- question.correct_answer%></label>
                    </div>
                    <% question.incorrect_answers.forEach(i => { %>
                    <div class= "choices">
                        <input type="radio" name="choices" value="incorrect" class="radio">
                        <label class="choice"><%- i %></label>
                    </div>
                    <% }) %>  
                </div>

                <script>

                    $(function () {
    
                        var parents = $("#choices");
                        var divs = parents.children();
    
                        while(divs.length){
                        parents.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                        }
    
                        const name = `choicefor${num}`;
                        document.getElementById('choices').setAttribute('id', 'chosen');
    
                        for(let radionum = 0; radionum<4; ++radionum)
                        {
                            document.getElementsByClassName('radio')[radionum].setAttribute('name', name);
                        }
                        for(let radionum = 0; radionum<4; ++radionum)
                        {
                            document.getElementsByClassName('radio')[0].setAttribute('class', 'radios');
                        }
                            
    
    
                        ++num;
                    });           
                </script>
            </fieldset>
       

            <% }); %> 
    </div>    
    <button style="margin-top: 10px; margin-left: 10vw;" onclick='check()' id="fix" class="big-button">Peek &#x1F440;</button>
    <button style="display: none;"type="submit" value="Submit">




<script>
    function check(){

        Object.values(document.querySelectorAll('input[value=correct]')).forEach(correct=> {
            console.log("hello")
            correct.checked = true;
        });

        setTimeout(function(){  
            Object.values(document.querySelectorAll('input[value=correct]')).forEach(correct=> {
            correct.checked = false;
            }); 
         }, 1000);

       



    }
    
</script>


<%- include('../partials/footer') %>


