<%- include('../partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<p id="timer"></p>
<h2 id="end"></h2>
<script>
    // The data/time we want to countdown to
    var countDownDate = new Date().getTime()+ (6 * 60 * 1000);

    // Run myfunc every second
    var myfunc = setInterval(function() {

    var now = new Date().getTime();
    var timeleft = countDownDate - now;
        
    // Calculating the days, hours, minutes and seconds left
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
        
    // Result is output to the specific element
    document.getElementById("timer").innerHTML = minutes+":"+seconds
        
    // Display the message when countdown is over
    if (timeleft < 0) {
        clearInterval(myfunc);
        document.getElementById("timer").innerHTML = "TIME UP!!";
    }
    }, 1000);
    
</script>


<h1>Trivia questions</h1>
<div>
  <% value.forEach((questions,index) => { %>
    <div class="question"><%-index+1%>. <%-questions.question%> </div>
    <div id = "choices">
        <a href="/games/"><div class="choice" id="correct"><%- questions.correct_answer%></div></a>
        <% questions.incorrect_answers.forEach(i => { %>
        <a href=""><div class="choice"><%- i %></div></a>
        <% }) %>  
    </div>

    <script>
        $(function () {
            var parents = $("#choices");
            var divs = parents.children();
    
            while(divs.length){
            parents.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
            }

            document.getElementById('choices').setAttribute('id', 'chosen');
            
        });           
    </script>

    <% }) %> 
</div>





<%- include('../partials/footer') %>


