<%- include('../partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

</script>
<div class="navbar"> 
    <a href='/' class="back">
        <i class="fa fa-angle-left"></i>
    </a>
    <div class="menu">
        <h1>OTrivia</h1>
        <h1 id="timer">05:00</h1>
    </div>
</div>
<script>
    window.onload = function(){
        // The data/time we want to countdown to
        var countDownDate = new Date().getTime()+ (5 * 60 * 1000 + 1);

        // Run myfunc every second
        var myfunc = setInterval(function() {

        var now = new Date().getTime();
        var timeleft = countDownDate - now;
        

        // Calculating the days, hours, minutes and seconds left
        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
            
        // Result is output to the specific element
        document.getElementById("timer").innerHTML = minutes.toString().padStart(2, 0)+":"+ seconds.toString().padStart(2, 0);
        
        if(minutes==0 && seconds<6){
            if(window.getComputedStyle(document.body).backgroundColor == "rgb(48, 23, 82)")
            document.html.style.backgroundColor = "rgb(223, 39, 184)";
            else
            document.html.style.backgroundColor = "rgb(48, 23, 82)";
        }

        // Display the message when countdown is over
        if (timeleft < 0) {
            clearInterval(myfunc);
            document.getElementById("timer").innerHTML = "TIME UP!!";
            document.getElementById('form').action = `/games/party/submit`;
            document.getElementById('form').submit();
        }
        }, 1000);
    };

    var num = 1;
</script>


<form method="POST" action="/games/party/submit" id="form">
    <div id="questions">
        <% questions1.forEach((question,index) => { %>
            <fieldset>
                <div class="question">
                    <%-question.question%>
                </div>
                <div id = "choices" class="choice-box">
                    <%choices = `choice${index}`%>
                    <div class="choices">
                        <input type="radio" name="choices" value="correct" class="radio">
                        <label class="choice" ><%- question.correct_answer%></label>
                    </div>
                    <% question.incorrect_answers.forEach(i => { %>
                    <div class= "choices">
                        <input type="radio" name="choices" value="incorrect" class="radio">
                        <label class="choice"><%- i %></label>
                    </div>
                    <% }) %>  
                </div>
            </fieldset>
           <script>

                $(function () {

                    var parents = $("#choices");
                    var divs = parents.children();

                    while(divs.length){
                    parents.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                    }

                    const name = `choicefor${num}`;
                    document.getElementById('choices').setAttribute('id', `chosen${num}`);

                    for(let radionum = 0; radionum<4; ++radionum)
                    {
                        document.getElementsByClassName('radio')[radionum].setAttribute('name', name);
                    }
                    for(let radionum = 0; radionum<4; ++radionum)
                    {
                        document.getElementsByClassName('radio')[0].setAttribute('class', 'radios');
                    }
                        


                    ++num;
                });           
            </script>

            <% }) %> 

            <% questions2.forEach((question,index) => { %>
                <fieldset>
                    <div class="question">
                        <%-question.question%>
                    </div>
                    <div id = "choices" class="choice-box">
                        <%choices = `choice${index}`%>
                        <div class="choices">
                            <input type="radio" name="choices" value="correct" class="radio">
                            <label class="choice" ><%- question.correct_answer%></label>
                        </div>
                        <% question.incorrect_answers.forEach(i => { %>
                        <div class= "choices">
                            <input type="radio" name="choices" value="incorrect" class="radio">
                            <label class="choice"><%- i %></label>
                        </div>
                        <% }) %>  
                    </div>
                </fieldset>
            <script>
    
                    $(function () {
    
                        var parents = $("#choices");
                        var divs = parents.children();
    
                        while(divs.length){
                        parents.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                        }
    
                        const name = `choicefor${num}`;
                        document.getElementById('choices').setAttribute('id', `chosen${num}`);
    
                        for(let radionum = 0; radionum<4; ++radionum)
                        {
                            document.getElementsByClassName('radio')[radionum].setAttribute('name', name);
                        }
                        for(let radionum = 0; radionum<4; ++radionum)
                        {
                            document.getElementsByClassName('radio')[0].setAttribute('class', 'radios');
                        }
                            
    
    
                        ++num;
                    });           
                </script>
    
                <% }) %> 
    </div>    
    <input style="display: none;" class="big-button" id="fixsubmit" type="submit" value="Submit">


    </form>
 




<%- include('../partials/footer') %>


