<%- include('../partials/header') %>

<div class="navbar"> 
    <a href='/home' class="back">
        <i class="fa fa-angle-left"></i>
    </a>
    <div class="menu">
        <h1>OTRIVIA</h1>
    </div>
</div>
<div id="share-page">
    <div id="avatarscore">
        <img  id="shareavatar" class="useravatar" src=""> 

        <div id="new-score">

            <p style="color: green;"> <%- right %> X2</p>
            <p style="color: red;"> <%- wrong %> X1</p>
            <p style="color: white;"> Points <%- total %></p>
        </div>

        <a id="share-score">
            <p id="snap">Challenge Your Friends  <i class="fa fa-snapchat" aria-hidden="true"></i></p>
        </a>
    </div>
</div>
<script>
    document.getElementById('shareavatar').setAttribute('src', localStorage.getItem('avatar'));
</script>

<%- include('../partials/footer') %>


