<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<%- include('../partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="navbar"> 
    <a href='/home' class="back">
        <i class="fa fa-angle-left"></i>
    </a>
    <div class="menu">
        <h1>CHILL MODE</h1>
    </div>
</div>
<div id="category-page">
    <div id="categories">
    <% categories.forEach((category, index) => { %>
            <div onclick="location.href = '/games/chill/<%= category.id %>'" class="category">
                <p><%- category.name %></p>
            </div>
    <% }) %> 
    </div>
    
  
    <%- include('../partials/modals') %>

</div>
  
<script>
  
  document.getElementById('useravatar').setAttribute('src', localStorage.getItem('avatar'));
  document.getElementById('normalavatar').setAttribute('src', localStorage.getItem('avatar'));

  document.getElementById('user').innerText= "Welcome "+localStorage.getItem('user')+"!";

  Storage.prototype.getObj = function(key) {
    return JSON.parse(this.getItem(key))
  }

  for(let index=0; index<localStorage.getObj('scores').length; ++index) {
    console.log(index);
    document.getElementsByClassName('table-scores')[index].children[0].innerText = localStorage.getObj('scores')[index];
    document.getElementsByClassName('table-scores')[index].children[1].innerText = localStorage.getObj('times')[index];  
  }

  function reset(){
    localStorage.clear();
    location.href = '/';
  }

</script>
<%- include('../partials/footer') %>