<%- include('../partials/header') %>
    <h1>trivia</h1>
    <p>Choose Level of Difficulty</p>
    <div>
        <div id="levels">
            <a href="/games/<%= categoryid %>/easy"><button class="big-button level" onclick="location.href = '/home'">Easy</button></a>
            <a href="/games/<%= categoryid %>/medium"><button class="big-button level" onclick="location.href = '/home'">Medium</button></a>
            <a href="/games/<%= categoryid %>/hard"><button class="big-button level" onclick="location.href = '/home'">Hard</button></a>
        </div>
        <div id="settings">
            <button class="setting"><img src="https://imagizer.imageshack.com/img922/4830/RW4eT2.png"/></button>
            <button class="setting"><img src="https://imagizer.imageshack.com/v2/100x150q90/922/1gOV5O.png"></button>
        </div>
    </div>
<%- include('../partials/footer') %>